body {
    background-color: #444;
    color: whitesmoke;
}

#logo {
    text-align: center;
}

a {
    color: azure;
    text-decoration: none;
}

a:hover {
    color:azure;
}

.mh-50 {
    max-height: 50vh;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background-color: #2c2c2c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#484848;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#333333;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.cursor-pointer {
    cursor: pointer;;
}