{% extends "main.html" %}
{% block content %}

<div class="container d-flex justify-content-around my-auto">
    <div class="card col-md-6 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header ">Rooms</h3>
        </div>

        <div class="p-5">
        {% for room in rooms %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action list-group-item-dark my-1 d-flex justify-content-between">
                <a id="{{ room.name }}" class="room_join" href="{{ url_for('chats.room', room_name=room.name) }}" >{{ room.name }}</a>
                {% if room.creator_id == current_user.id %}
                <div>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('chats.update_room', room_name=room.name) }}" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{{ url_for('chats.delete_room', room_name=room.name) }}" role="button">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

    <div class="card col-md-4 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header">Users on-line</h3>
        </div>

        <div class="p-5" id="users">
        {% for client in clients %}
            <div class="card bg-dark border-light p-1 m-1">
                {{ client }}
            </div>
        {% endfor %}
        </div>
    </div>  


</div>

<script>
    const username = "{{current_user.username}}"
</script>

{% endblock %}