{% extends "main.html" %}
{% block content %}

<div class="container d-flex justify-content-around my-auto">
    <div class="card col-md-8 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header ">{{room.name}}</h3>
        </div>
        <div class="p-5">

            <ul id="messages" class="mh-50 overflow-auto">
                {% for message in messages %}
                    <p>{{ message.message }}</p>
                {% endfor %}
            </ul>

            <form onsubmit="return false">

                <div class="my-2 input-group">
                    <input type="text" class="form-control bg-dark text-white" placeholder="Message" id="myMessage">
                    <div class="input-group-append">
                        <button id="sendbutton" class="btn btn-outline-secondary">Send</button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="card col-md-3 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header">Users</h3>
        </div>

        <div class="p-5">
        There will be users
        </div>
    </div>  



</div>

<script type="text/javascript">

    let namespace = window.location.pathname
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace)

    const messages = document.getElementById('messages')
    const button = document.getElementById('sendbutton')    

    socket.on('connect', function() {
        socket.send('{{current_user.username}} has connected!');
    });

    socket.on('disconnect', function() {
        socket.send('{{current_user.username}} has left the chat');
    });


    socket.on('message', function(msg) {
        messages.innerHTML += '<p>'+msg+'</p>';
        messages.scrollTop = messages.scrollHeight;
    });

    button.addEventListener('click', sendMessage);
    
    function sendMessage() {
        socket.send(document.getElementById('myMessage').value);
        document.getElementById('myMessage').value = "";
    };


</script>

{% endblock %}