{% extends "main.html" %}
{% block content %}

<div class="container d-flex justify-content-around my-auto">
    <div class="card col-md-8 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header ">{{room.name}}</h3>
        </div>
        <div class="p-5">

            <ul id="messages" class="mh-50 overflow-auto">
                {% for message in messages %}
                    <p>
                        {% if message.username %}
                            {{ message.username }}: 
                        {% endif %}
                        {{ message.message }}
                    </p>
                {% endfor %}
            </ul>

            <form onsubmit="return false">

                <div class="my-2 input-group">
                    <input type="text" class="form-control bg-dark text-white" placeholder="Message" id="myMessage">
                    <div class="input-group-append">
                        <button id="sendbutton" class="btn btn-outline-secondary">Send</button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="card col-md-3 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header">Users</h3>
        </div>

        <div class="p-5">
        There will be users
        </div>
    </div>  



</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
    const room = "{{ room.name }}"
    const username = "{{ current_user.username }}"
</script>
<script src="{{ url_for('static', filename='js/room.js') }}"></script>


{% endblock %}