{% extends "main.html" %}
{% block content %}

<div class="container d-flex justify-content-around my-auto">
    <div class="card col-md-8 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header ">{{room.name}}</h3>
        </div>
        <div class="p-5">

        <ul id="messages">
        {% for message in messages %}
            <p>{{ message.message }}</p>
        {% endfor %}
        </ul>


        <!--<form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-floating my-2">
                {{ form.message(class="form-control bg-dark text-white", placeholder="Message", id="myMessage") }}
                {{ form.message.label(class="form-control-label") }}
            </div>
            <div class='text-center'>
                {{ form.submit(class="btn btn-primary mt-2", id="sendbutton") }}
            </div>
        </form>-->
        <input type="text" id="myMessage">
        <button id="sendbutton">Send</button>
        </div>

    </div>

    <div class="card col-md-3 bg-dark">
        <div class="card text-center bg-dark">
            <h3 class=" fw-normal card-text card-header">Users</h3>
        </div>

        <div class="p-5">
        There will be users
        </div>
    </div>  



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript">

    var socket = io.connect('http://127.0.0.1:5000/r/Mateusz');

    socket.on('connect', function() {
        socket.send('User has connected!');
    });

    socket.on('message', function(msg) {
        console.log(msg)
        document.getElementById('messages').innerHTML += '<p>'+msg+'</p>';
    });

    document.getElementById('sendbutton').addEventListener('click', sendMessage);
    
    
    function sendMessage() {
        x = socket.send(document.getElementById('myMessage').value);
        console.log(x)
        document.getElementById('myMessage').value = "";
    };

</script>

{% endblock %}